<div class="panel panel-default tc_detailsTab">
  <div class="panel-heading">
    <h3 class="panel-title tc_panelTitle">
      <translate translate-params-target-id="$ctrl.selection.item.targetId">Details of {{ targetId }}</translate>
    </h3>
  </div>
  <div class="panel-body">
    <div uib-alert
         class="alert-warning"
         ng-if="$ctrl.selection.item.state === 'RUNNING_WARN' &&
                $ctrl.selection.item.hostsDisabled &&
                $ctrl.selection.item.hostsEnabled">
      <i class="fa fa-2x fa-warning small-padding"></i>
      This iSCSI target is
      <span class="italic">Enabled</span> on
      <span ng-repeat="host in $ctrl.selection.item.hostsEnabled">
        <strong> {{ host }}</strong>
        <span ng-if="!$last">, </span>
      </span> but
      <span class="italic">Disabled</span> on
      <span ng-repeat="host in $ctrl.selection.item.hostsDisabled">
        <strong> {{ host }}</strong>
        <span ng-if="!$last">, </span>.
      </span>
    </div>
    <dl class="dl-horizontal">
      <dt translate>Target IQN:</dt>
      <dd>
        {{ $ctrl.selection.item.targetId }}
        <span ng-if="$ctrl.selection.item.targetSettings">
          <br>
          <span ng-repeat="setting in $ctrl.selection.item.cephIscsiTargetAdvangedSettings">
            <span ng-if="$ctrl.selection.item.targetSettings.hasOwnProperty(setting.property)"
                  class="nowrap margin-right-md">
              <label>&#10551; {{ setting.property }}</label>: {{ $ctrl.selection.item.targetSettings[setting.property] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt translate>Portals:</dt>
      <dd ng-repeat="portal in $ctrl.selection.item.portals">
        {{ portal.hostname }}: {{ portal.interface }}
        <span translate
              ng-if="$ctrl.selection.item.state === 'STOPPED' ||
                     ($ctrl.selection.item.state === 'RUNNING_WARN' &&
                     $ctrl.selection.item.hostsDisabled &&
                     $ctrl.containsHost($ctrl.selection.item.hostsDisabled, portal.hostname))"
              class="text-muted">
          (disabled)
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt translate>Images:</dt>
      <dd ng-repeat="image in $ctrl.selection.item.images">
        {{ image.pool }}: {{ image.name }}
        <span class="text-muted">(lun: {{ (image.settings.lun || 0) }})</span>
        <span ng-if="image.settings">
          <br>
          <span ng-repeat="setting in $ctrl.selection.item.allIscsiImageSettings">
            <span ng-if="image.settings.hasOwnProperty(setting.property)"
                  class="nowrap margin-right-md">
              <label>&#10551; {{ setting.property }}</label>: {{ image.settings[setting.property] }}
            </span>
          </span>
          <br ng-show="image.settings[setting.property]===''?false:true">
          <span ng-show="image.settings[setting.QOS]===''?false:true">
            <strong>QoS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IOPS &nbsp;&nbsp;</strong>
          </span>
          <span ng-repeat="setting in $ctrl.selection.item.allIscsiImageSettings">
            <span ng-if="image.settings.hasOwnProperty(setting.QOS)" class="no-wrap margin-right-md">
              <label ng-class="setting.QOS" style="font-weight: normal">&#10551; {{ setting.replaceQOS }}</label>: {{ image.settings[setting.QOS] === 0?'No Limit':image.settings[setting.QOS]}}
            </span>
          </span>
          <span ng-repeat="setting in $ctrl.selection.item.allIscsiImageSettings">
            <span ng-if="image.settings.hasOwnProperty(setting.iopsinfo) && !(image.settings[setting.iopsinfo]==='null'||'none')"
              class="no-wrap margin-right-md">
              <label>&#10551; {{ setting.iopsinfo }}</label>: {{ image.settings[setting.iopsinfo] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt translate>Authentication:</dt>
      <dd translate
          ng-if="!$ctrl.selection.item.authentication.hasAuthentication"
          class="tc_noAuthentication">No authentication</dd>
      <dd ng-if="$ctrl.selection.item.authentication.hasAuthentication">{{ $ctrl.selection.item.authentication.user }}</dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasAuthentication && $ctrl.selection.item.authentication.initiators.length > 0">
      <dt translate>Initiators:</dt>
      <dd ng-repeat="initiator in $ctrl.selection.item.authentication.initiators">
        {{ initiator }}
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasMutualAuthentication">
      <dt translate>Mutual auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.mutualUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledMutualAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasDiscoveryAuthentication">
      <dt translate>Discovery auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.discoveryUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledDiscoveryAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasDiscoveryMutualAuthentication">
      <dt translate>Discovery mutual auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.discoveryMutualUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledDiscoveryMutualAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
  </div>
</div>
