<div class="col-sm-12 col-lg-6">

  <oa-loading-panel message="{{ 'iSCSI target is loading...' | translate }}"
                    ng-show="!$ctrl.formDataIsReady && !$ctrl.error">
  </oa-loading-panel>
  <oa-error-panel title="{{ 'Could not load iSCSI target' | translate }}"
                  on-back="$ctrl.cancelAction()"
                  ng-if="$ctrl.targetId && $ctrl.error">
    <translate translate-params-target-id="$ctrl.targetId">
      iSCSI target "{{ targetId }}" could not be loaded.
    </translate>
  </oa-error-panel>

  <div ng-show="$ctrl.formDataIsReady && !$ctrl.error">
    <div ng-show="$ctrl.allImages.length === 0">
      <oa-error-panel title="{{ 'No RBD images' | translate }}">
        <translate>You must <a ng-click="$ctrl.addRBD()">create an RBD image</a> before adding an iSCSI target.</translate>
      </oa-error-panel>
    </div>
    <form ng-show="$ctrl.allImages.length !== 0"
          name="$ctrl.iscsiForm"
          role="form"
          class="form-horizontal"
          novalidate
          oa-check-form>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title tc_panelTitle">
            <translate translate-params-target-id="$ctrl.model.targetId">
              Target IQN: {{ targetId }}
            </translate>
          </h3>
        </div>
        <div class="panel-body">

          <div class="form-group"
               ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.targetId.$dirty) && $ctrl.iscsiForm.targetId.$invalid}">
            <label translate
                   class="col-sm-3 control-label"
                   for="targetId">Target IQN</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       name="targetId"
                       id="targetId"
                       ng-model="$ctrl.model.targetId"
                       required
                       valid-iqn>
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="button"
                          uib-tooltip="{{ 'Settings' | translate }}"
                          ng-click="$ctrl.openTargetSettingsModal()">
                    <i class="fa fa-cogs"></i>
                  </button>
                </span>
              </div>
              <span class="help-block"
                    ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.targetId.$dirty">
                <span translate
                      class="tc_targetIdRequired"
                      ng-show="$ctrl.iscsiForm.targetId.$error.required">Required field</span>
                <span class="tc_targetIdInvalid"
                      ng-show="$ctrl.iscsiForm.targetId.$error.iqn">
                  <translate>An IQN has the following notation 'iqn.$year-$month.$reversedAddress:$definedName'</translate>
                  <br>
                  <translate>For example: iqn.2016-06.org.openattic:storage:disk.sn-a8675309</translate>
                  <br>
                  <a translate
                     target="_blank"
                     href="https://en.wikipedia.org/wiki/ISCSI#Addressing">More information</a>
                </span>
              </span>
              <div class="row">
                <div class="col-sm-12">
                  <span ng-repeat="setting in $ctrl.cephIscsiTargetAdvangedSettings">
                    <span ng-if="$ctrl.model.targetSettings.hasOwnProperty(setting.property)"
                          class="no-wrap margin-right-md">
                      <label>&#10551; {{ setting.property }}</label>: {{ $ctrl.model.targetSettings[setting.property] }}
                    </span>
                  </span>
                </div>
              </div>
              <hr>
            </div>
          </div>

          <div class="form-group"
               ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.portals.$dirty) && $ctrl.iscsiForm.portals.$invalid}">
            <label translate
                   class="col-sm-3 control-label"
                   for="portals">Portals</label>
            <div class="col-sm-9">
              <span ng-if="$ctrl.model.portals.length === 0"
                    class="form-control no-border">
                <span translate
                      class="text-muted">Empty</span>
                <input type="text"
                       class="no-border"
                       ng-model="$ctrl.model.portals[0]"
                       name="portals"
                       id="portals"
                       required
                       readonly>
              </span>
              <span ng-repeat="selectedPortal in $ctrl.model.portals track by $index">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         value="{{ selectedPortal.hostname }}: {{ selectedPortal.interface }}"
                         readonly>
                  <span class="input-group-btn">
                    <button class="btn btn-default"
                            type="button"
                            uib-tooltip="{{ 'Delete' | translate }}"
                            ng-click="$ctrl.removePortal($index)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </span>
                </div>
                <span class="help-block"></span>
              </span>
              <span uib-dropdown
                    on-toggle="toggled(open)"
                    class="form-control no-border">
                <button type="button"
                        class="btn btn-default btn-label pull-right tc_addPortalButton"
                        uib-dropdown-toggle
                        ng-disabled="$ctrl.availablePortals().length === 0">
                  <i class="fa fa-fw fa-plus"></i>
                  <translate>Add portal</translate>
                </button>
                <ul class="dropdown-menu scrollable-menu pull-right"
                    uib-dropdown-menu
                    aria-labelledby="simple-dropdown">
                  <li ng-repeat="currentPortal in $ctrl.availablePortals()">
                    <a ng-click="$ctrl.addPortalAction(currentPortal)"
                       class="tc_addPortalItem">{{ currentPortal.hostname }}: {{ currentPortal.interface }}</a>
                  </li>
                </ul>
              </span>
              <span class="help-block"
                    ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.portals.$dirty">
                <span translate
                      class="tc_portalsRequired"
                      ng-show="$ctrl.iscsiForm.portals.$error.required">Required field</span>
              </span>
              <hr>
            </div>
          </div>

          <div class="form-group"
               ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.images.$dirty) && $ctrl.iscsiForm.images.$invalid}">
            <label class="col-sm-3 control-label"
                   for="images">
              <translate>Images</translate>
              <oa-helper helper-data="$ctrl.unsupportedRbdFeatures"
                         helper-template="'components/ceph-iscsi/ceph-iscsi-form/ceph-iscsi-form-helper-features.html'">
              </oa-helper>
            </label>
            <div class="col-sm-9">
              <span ng-if="$ctrl.model.images.length === 0"
                    class="form-control no-border">
                <span translate
                      class="text-muted">Empty</span>
                <input type="text"
                       class="no-border"
                       ng-model="$ctrl.model.images[0]"
                       name="images"
                       id="images"
                       required
                       readonly>
              </span>
              <span ng-repeat="currentImage in $ctrl.model.images track by $index"
                    id="images">
                <div ng-class="{'has-error': $ctrl.iscsiForm['image'+$index].$invalid}">
                  <div class="input-group">
                    <div class="input-group-addon"><translate>lun</translate>: {{ currentImage.settings.lun }}</div>
                    <input type="text"
                           class="form-control"
                           name="image{{ $index }}"
                           id="image{{ $index }}"
                           ng-model="currentImage"
                           readonly
                           ceph-iscsi-rbd-features-validator>
                    <span class="input-group-btn">
                      <button class="btn btn-default has-error-btn tc_imageSettingsButton"
                              type="button"
                              uib-tooltip="Settings"
                              ng-click="$ctrl.openImageSettingsModal(currentImage)"
                              ng-disabled="$ctrl.iscsiForm['image'+$index].$invalid">
                        <i class="fa fa-cogs"></i>
                      </button>
                      <button class="btn btn-default has-error-btn"
                              type="button"
                              uib-tooltip="Delete"
                              ng-click="$ctrl.removeImage($index)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </span>
                  </div>
                  <span translate
                        class="help-block tc_addImageFeatureError"
                        ng-show="$ctrl.iscsiForm['image'+$index].$error.featuresValidator">
                      The RBD you've chosen contains one or more feature(s) that are not supported by iSCSI. Please choose another RBD.
                  </span>
                  <div class="row">
                    <div class="col-sm-12">
                      <span ng-repeat="setting in $ctrl.allIscsiImageSettings">
                        <span ng-if="currentImage.settings.hasOwnProperty(setting.property)"
                              class="no-wrap margin-right-md">
                          <label>&#10551; {{ setting.property }}</label>: {{ currentImage.settings[setting.property] }}
                        </span>
                      </span>
                      <br ng-show="currentImage.settings[setting.property]===''?false:true">
                      <span ng-show="currentImage.settings[setting.QOS]===''?false:true">
                        <strong>QoS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IOPS &nbsp;&nbsp;</strong>
                      </span>
                      <span ng-repeat="setting in $ctrl.allIscsiImageSettings">
                        <span ng-if="currentImage.settings.hasOwnProperty(setting.QOS)" class="no-wrap margin-right-md">
                          <label style="font-weight: normal">&#10551; {{ setting.replaceQOS }}</label>: {{ currentImage.settings[setting.QOS] === 0?'No Limit':currentImage.settings[setting.QOS] }}
                        </span>
                      </span>
                      <span ng-repeat="setting in $ctrl.allIscsiImageSettings">
                        <span ng-if="currentImage.settings.hasOwnProperty(setting.iopsinfo)" ng-show="currentImage.settings[setting.iopsinfo]==='null'||'none'?false:true"
                          class="no-wrap margin-right-md">
                          <label>&#10551; {{ setting.iopsinfo }}</label>: {{ currentImage.settings[setting.iopsinfo] }}
                        </span>
                      </span>
                    </div>
                  </div>
                  <span class="help-block"></span>
                </div>
              </span>
              <span uib-dropdown
                    on-toggle="toggled(open)"
                    class="form-control no-border">
                <button type="button"
                        class="btn btn-default btn-label pull-right tc_addImageButton"
                        uib-dropdown-toggle
                        ng-disabled="$ctrl.availableImages().length === 0">
                  <i class="fa fa-fw fa-plus"></i>
                  <translate>Add image</translate>
                </button>
                <ul class="dropdown-menu scrollable-menu pull-right"
                    uib-dropdown-menu
                    aria-labelledby="simple-dropdown">
                  <li ng-repeat="currentImage in $ctrl.availableImages()">
                    <a ng-click="$ctrl.addImageAction(currentImage)"
                       class="tc_addImageItem">{{ currentImage.pool }}: {{ currentImage.name }}
                    </a>
                  </li>
                </ul>
              </span>
              <span class="help-block"
                    ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm.images.$dirty">
                <span translate
                      class="tc_imagesRequired"
                      ng-show="$ctrl.iscsiForm.images.$error.required">Required field</span>
              </span>
              <hr>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox"
                       ng-model="$ctrl.model.authentication.hasAuthentication"
                       name="active"
                       id="hasAuthentication">
                <label translate
                       for="hasAuthentication">
                  Authentication
                </label>
              </div>
            </div>
          </div>

          <div ng-if="$ctrl.model.authentication.hasAuthentication">
            <div class="form-group"
                 ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['user'].$dirty) && $ctrl.iscsiForm['user'].$invalid}">
              <label translate
                     class="col-sm-3 control-label"
                     for="user">User</label>
              <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       name="user"
                       id="user"
                       ng-model="$ctrl.model.authentication.user"
                       required>
                <span class="help-block"
                      ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['user'].$dirty">
                  <span translate
                        class="tc_userRequired"
                        ng-show="$ctrl.iscsiForm['user'].$error.required">Required field</span>
                </span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['password'].$dirty) && $ctrl.iscsiForm['password'].$invalid}">
              <label translate
                     class="col-sm-3 control-label"
                     for="password">Password</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="password"
                         class="form-control"
                         name="password"
                         id="password"
                         ng-model="$ctrl.model.authentication.password"
                         required>
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            oa-password-button="password">
                    </button>
                  </span>
                </div>
                <span class="help-block"
                      ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['password'].$dirty">
                  <span translate
                        class="tc_passwordRequired"
                        ng-show="$ctrl.iscsiForm['password'].$error.required">Required field</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label translate
                     class="col-sm-3 control-label">Initiators</label>
              <div class="col-sm-9">
                <span ng-if="$ctrl.model.authentication.initiators.length === 0"
                      class="form-control no-border">
                  <span translate
                        class="text-muted">Empty</span>
                </span>
                <span ng-repeat="currentInitiator in $ctrl.model.authentication.initiators track by $index"
                      id="initiators">
                  <div ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['initiator'+$index].$dirty) && $ctrl.iscsiForm['initiator'+$index].$invalid}">
                    <div class="input-group">
                      <input type="text"
                             class="form-control tc_initiatorInput"
                             name="initiator{{ $index }}"
                             id="initiator{{ $index }}"
                             ng-model="$ctrl.model.authentication.initiators[$index]"
                             required
                             valid-iqn>
                      <span class="input-group-btn">
                        <button class="btn btn-default tc_initiatorRemoveButton"
                                type="button"
                                uib-tooltip="{{ 'Delete' | translate }}"
                                ng-click="$ctrl.removeInitiator($index)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </span>
                    </div>
                    <span class="help-block">
                      <span ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['initiator'+$index].$dirty">
                        <span translate
                              class="tc_InitiatorRequired"
                              ng-show="$ctrl.iscsiForm['initiator'+$index].$error.required">
                          Should not be empty
                        </span>
                        <span class="tc_InitiatorInvalid"
                              ng-show="$ctrl.iscsiForm['initiator'+$index].$error.iqn">
                          <translate>An IQN has the following notation 'iqn.$year-$month.$reversedAddress:$definedName'</translate>
                          <br>
                          <translate>For example: iqn.2016-06.org.openattic:storage:disk.sn-a8675309</translate>
                          <br>
                          <a translate
                             target="_blank"
                             href="https://en.wikipedia.org/wiki/ISCSI#Addressing">More information</a>
                        </span>
                      </span>
                    </span>
                  </div>
                </span>
                <span uib-dropdown
                      on-toggle="toggled(open)"
                      class="form-control no-border">
                  <button type="button"
                          class="btn btn-default btn-label pull-right tc_addInitiatorButton"
                          ng-click="$ctrl.addInitiator()">
                    <i class="fa fa-fw fa-plus"></i>
                    <translate>Add initiator</translate>
                  </button>
                </span>
                <hr>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox"
                         ng-model="$ctrl.model.authentication.hasMutualAuthentication"
                         name="active"
                         id="hasMutualAuthentication">
                  <label translate
                         for="hasMutualAuthentication"
                         ng-class="{'strikethrough text-muted': $ctrl.model.authentication.hasMutualAuthentication && !$ctrl.model.authentication.enabledMutualAuthentication}">
                    Mutual authentication
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <span ng-if="$ctrl.model.authentication.hasMutualAuthentication"
                      class="pull-right">
                  <toggle ng-model="$ctrl.model.authentication.enabledMutualAuthentication"
                          size="btn-sm"
                          onstyle="btn-primary"></toggle>
                </span>
              </div>
            </div>
            <div ng-if="$ctrl.model.authentication.hasMutualAuthentication">
              <div class="form-group"
                   ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['mutualUser'].$dirty) && $ctrl.iscsiForm['mutualUser'].$invalid}">
                <label translate
                       class="col-sm-3 control-label"
                       for="mutualUser">Mutual user</label>
                <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         name="mutualUser"
                         id="mutualUser"
                         ng-model="$ctrl.model.authentication.mutualUser"
                         required>
                  <span class="help-block"
                        ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['mutualUser'].$dirty">
                    <span translate
                          class="tc_mutualUserRequired"
                          ng-show="$ctrl.iscsiForm['mutualUser'].$error.required">Required field</span>
                  </span>
                </div>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['mutualPassword'+$index].$dirty) && $ctrl.iscsiForm['mutualPassword'+$index].$invalid}">
                <label translate
                       class="col-sm-3 control-label"
                       for="mutualPassword">Mutual password</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="password"
                           class="form-control"
                           name="mutualPassword"
                           id="mutualPassword"
                           ng-model="$ctrl.model.authentication.mutualPassword"
                           required>
                    <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              oa-password-button="mutualPassword">
                      </button>
                    </span>
                  </div>
                  <span class="help-block"
                        ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['mutualPassword'].$dirty">
                    <span translate
                          class="tc_mutualPasswordRequired"
                          ng-show="$ctrl.iscsiForm['mutualPassword'].$error.required">Required field</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <hr>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox"
                         ng-model="$ctrl.model.authentication.hasDiscoveryAuthentication"
                         name="active"
                         id="hasDiscoveryAuthentication">
                  <label translate
                         for="hasDiscoveryAuthentication"
                         ng-class="{'strikethrough text-muted': $ctrl.model.authentication.hasDiscoveryAuthentication && !$ctrl.model.authentication.enabledDiscoveryAuthentication}">
                    Discovery authentication
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <span ng-if="$ctrl.model.authentication.hasDiscoveryAuthentication"
                      class="pull-right">
                  <toggle ng-model="$ctrl.model.authentication.enabledDiscoveryAuthentication"
                          size="btn-sm"
                          onstyle="btn-primary"></toggle>
                </span>
              </div>
            </div>
            <div ng-if="$ctrl.model.authentication.hasDiscoveryAuthentication">
              <div class="form-group"
                   ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryUser'].$dirty) && $ctrl.iscsiForm['discoveryUser'].$invalid}">
                <label translate
                       class="col-sm-3 control-label"
                       for="discoveryUser">Discovery user</label>
                <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         name="discoveryUser"
                         id="discoveryUser"
                         ng-model="$ctrl.model.authentication.discoveryUser"
                         required>
                  <span class="help-block"
                        ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryUser'].$dirty">
                    <span translate
                          class="tc_discoveryUserRequired"
                          ng-show="$ctrl.iscsiForm['discoveryUser'].$error.required">Required field</span>
                  </span>
                </div>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryPassword'].$dirty) && $ctrl.iscsiForm['discoveryPassword'].$invalid}">
                <label translate
                       class="col-sm-3 control-label"
                       for="discoveryPassword">Discovery password</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="password"
                           class="form-control"
                           name="discoveryPassword"
                           id="discoveryPassword"
                           ng-model="$ctrl.model.authentication.discoveryPassword"
                           required>
                    <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              oa-password-button="discoveryPassword">
                      </button>
                    </span>
                  </div>
                  <span class="help-block"
                        ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryPassword'].$dirty">
                    <span translate
                          class="tc_discoveryPasswordRequired"
                          ng-show="$ctrl.iscsiForm['discoveryPassword'].$error.required">Required field</span>
                  </span>
                </div>
              </div>
            </div>
            <span ng-if="$ctrl.model.authentication.hasDiscoveryAuthentication">
              <div class="col-sm-offset-3 col-sm-9">
                <hr>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                  <div class="checkbox checkbox-primary">
                    <input type="checkbox"
                           ng-model="$ctrl.model.authentication.hasDiscoveryMutualAuthentication"
                           name="active"
                           id="hasDiscoveryMutualAuthentication">
                    <label translate
                           for="hasDiscoveryMutualAuthentication"
                           ng-class="{'strikethrough text-muted': $ctrl.model.authentication.hasDiscoveryMutualAuthentication && !$ctrl.model.authentication.enabledDiscoveryMutualAuthentication}">
                      Discovery mutual authentication
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <span ng-if="$ctrl.model.authentication.hasDiscoveryMutualAuthentication"
                        class="pull-right">
                    <toggle ng-model="$ctrl.model.authentication.enabledDiscoveryMutualAuthentication"
                            size="btn-sm"
                            onstyle="btn-primary"></toggle>
                  </span>
                </div>
              </div>
              <div ng-if="$ctrl.model.authentication.hasDiscoveryMutualAuthentication">
                <div class="form-group"
                     ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryMutualUser'].$dirty) && $ctrl.iscsiForm['discoveryMutualUser'].$invalid}">
                  <label translate
                         class="col-sm-3 control-label"
                         for="discoveryMutualUser">Discovery mutual user</label>
                  <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="discoveryMutualUser"
                           id="discoveryMutualUser"
                           ng-model="$ctrl.model.authentication.discoveryMutualUser"
                           required>
                    <span class="help-block"
                          ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryMutualUser'].$dirty">
                      <span translate
                            class="tc_discoveryMutualUserRequired"
                            ng-show="$ctrl.iscsiForm['discoveryMutualUser'].$error.required">Required field</span>
                    </span>
                  </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': ($ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryMutualPassword'].$dirty) && $ctrl.iscsiForm['discoveryMutualPassword'].$invalid}">
                  <label translate
                         class="col-sm-3 control-label"
                         for="discoveryMutualPassword">Discovery mutual password</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="password"
                             class="form-control"
                             name="discoveryMutualPassword"
                             id="discoveryMutualPassword"
                             ng-model="$ctrl.model.authentication.discoveryMutualPassword"
                             required>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                oa-password-button="discoveryMutualPassword">
                        </button>
                      </span>
                    </div>
                    <span class="help-block"
                          ng-show="$ctrl.iscsiForm.$submitted || $ctrl.iscsiForm['discoveryMutualPassword'].$dirty">
                      <span translate
                            class="tc_discoveryMutualPasswordRequired"
                            ng-show="$ctrl.iscsiForm['discoveryMutualPassword'].$error.required">Required field</span>
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>

        <div class="panel-footer">
          <div class="button-group text-right">
            <oa-submit-button form="$ctrl.iscsiForm"
                              on-submit="$ctrl.submitAction()">
              <translate>Submit</translate>
            </oa-submit-button>
            <button translate
                    type="button"
                    class="btn btn-sm btn-default tc_backButton"
                    ng-click="$ctrl.cancelAction()">
              Back
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
