<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title tc_panelTitle">
			<translate translate-params-username="$ctrl.selection.item.username">
				Details of {{ username }}
			</translate>
		</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt translate>Role:</dt>
      <dd ng-bind="$ctrl.selection.item.is_superuser?'Super User':'User'"></dd>
      <dt translate>Privileges:</dt>
      <dd translate ng-if="$ctrl.selection.item.is_superuser">
      	All
      </dd>
      <dd ng-if="!$ctrl.selection.item.is_superuser">
      	<table style="table-layout:fixed; width:80%;">
      		<tr>
      			<td translate style="width:60px; height:30px; font-weight:bold;">Pools</td>
      			<td><translate>Add-</translate><span ng-bind="$ctrl.inArray('ceph.add_cephpool',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Edit-</translate><span ng-bind="$ctrl.inArray('ceph.change_cephpool',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Delete-</translate><span ng-bind="$ctrl.inArray('ceph.delete_cephpool',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      		</tr>
      		<tr>
      			<td translate style="width:60px; height:30px; font-weight:bold;">RBDs</td>
      			<td><translate>Add-</translate><span ng-bind="$ctrl.inArray('ceph.add_cephrbd',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Edit-</translate><span ng-bind="$ctrl.inArray('ceph.change_cephrbd',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Delete-</translate><span ng-bind="$ctrl.inArray('ceph.delete_cephrbd',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      		</tr>
      		<tr>
      			<td translate style="width:60px; height:30px; font-weight:bold;">iSCSI</td>
      			<td><translate>Add-</translate><span ng-bind="$ctrl.inArray('ceph_iscsi.add_iscsiinterface',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Edit-</translate><span ng-bind="$ctrl.inArray('ceph_iscsi.change_iscsiinterface',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Delete-</translate><span ng-bind="$ctrl.inArray('ceph_iscsi.delete_iscsiinterface',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      		</tr>
      		<tr>
      			<td translate style="width:60px; height:30px; font-weight:bold;">NFS</td>
      			<td><translate>Add-</translate><span ng-bind="$ctrl.inArray('ceph_nfs.add_ganeshaexport',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Edit-</translate><span ng-bind="$ctrl.inArray('ceph_nfs.change_ganeshaexport',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      			<td><translate>Delete-</translate><span ng-bind="$ctrl.inArray('ceph_nfs.delete_ganeshaexport',$ctrl.selection.item.user_permissions.user_permissions)?'Yes':'No'"></span></td>
      		</tr>
      	</table>
      </dd>
    </dl>
  </div>
</div>
