<nav class="navbar navbar-default navbar-openattic">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header tc_logo_component">
    <a class="navbar-brand"
       href="#">
      <img src="images/openattic_brand_bright.png"
           alt="openATTIC">
    </a>
    <!--<a class="navbar-brand" href="#">openATTIC storage management framework</a>-->

    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
      <span translate
            class="sr-only">Toggle navigation
      </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_dashboard">
        <a translate
           data-ui-sref="dashboard">Dashboard
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_osds">
        <a translate
           data-ui-sref="cephOsds">OSDs
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_rbds">
        <a translate
           data-ui-sref="cephRbds">RBDs
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_pools">
        <a translate
           data-ui-sref="cephPools">Pools
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_nodes">
        <a translate
           data-ui-sref="cephNodes">Nodes
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_iscsi">
        <a translate
           data-ui-sref="cephIscsi">iSCSI
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_nfs">
        <a translate
           data-ui-sref="cephNfs">NFS
        </a>
      </li>
      <li class="dropdown tc_menuitem tc_menuitem_ceph_rgw">
        <a href=""
           class="dropdown-toggle"
           data-toggle="dropdown"><translate>Object Gateway</translate> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_ceph_rgw_users">
            <a translate
               data-ui-sref="ceph-rgw-users">Users
            </a>
          </li>
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_ceph_rgw_buckets">
            <a translate
               data-ui-sref="ceph-rgw-buckets">Buckets
            </a>
          </li>
        </ul>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_crushmap">
        <a translate
           data-ui-sref="crushmap">CRUSH Map
        </a>
      </li>
      <li data-ui-sref-active="active"
          class="tc_menuitem tc_menuitem_ceph_alerts">
        <a translate
           data-ui-sref="cephAlerts">Alerts
        </a>
      </li>
      <li class="dropdown tc_menuitem tc_menuitem_system">
        <a href=""
           class="dropdown-toggle"
           data-toggle="dropdown"><translate>System</translate> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_system_users">
            <a translate
               data-ui-sref="users">Users
            </a>
          </li>
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_system_settings">
            <a translate
               data-ui-sref="settings">Settings
            </a>
          </li>
          <li data-ui-sref-active="active"
              class="tc_submenuitem tc_submenuitem_system_ceph_log">
            <a translate
               data-ui-sref="ceph-log">Log
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-primary -->

    <ul class="nav navbar-nav navbar-utility">
      <li>
        <userinfo class="oa-navbar"></userinfo>
      </li>
      <li>
        <language class="oa-navbar"></language>
      </li>
      <li>
        <oa-notifications class="oa-navbar dropdown dropdown-notifications"></oa-notifications>
      </li>
      <li>
        <oa-task-queue class="oa-navbar"></oa-task-queue>
      </li>
      <li class="tc_api-recorder">
        <api-recorder class="oa-navbar"></api-recorder>
      </li>
      <li class="tc_logout">
        <auth-logout class="oa-navbar"></auth-logout>
      </li>
    </ul>
    <!-- /.navbar-utility -->
  </div>
  <!-- /.navbar-collapse -->
</nav>
